{
  "extends": "standard",
  "rules": {
    "brace-style": 0,
    "comma-dangle": 0,
    "indent": 0,
    "no-duplicate-imports": 0,
    "no-multiple-empty-lines": 0,
    "no-path-concat": 0,
    "no-throw-literal": 0,
    "no-trailing-spaces": 0,
    "no-unused-vars": 0,
    "operator-linebreak": 0,
    "padded-blocks": 0,
    "quotes": 0,
    "semi": 0
  }
}
