sudo: false
language: node_js
cache:
  directories:
  - node_modules
branches:
  except:
  - /^v\d+\.\d+\.\d+$/
notifications:
  email: false
node_js:
- '4'
- '0.12'
before_install:
- git config --global user.name "TravisCI"
- npm i -g npm@^2.0.0
before_script:
- npm prune
- curl -Lo travis_after_all.py https://git.io/vLSON
script:
- npm run test
- npm run check-coverage
after_success:
- python travis_after_all.py
- export $(cat .to_export_back)
- npm run report-coverage
- npm run test:windows
- npm run semantic-release
env:
  global:
    - AV_ACCOUNTNAME: jimthedev
    - AV_PROJECTSLUG: cz-cli
    - AV_BRANCH: master
    - secure: OO4CoV+EKtMQjNWz4vsOAuV4AZHeBJnlr0VMHLI7YK5ay31p8k+40FVoO7tnWnmB7OSfxOQpu7Bpb3d1saru5Y8oBDsFrkhFvdyPiy8FslPk6YC9GjKVYLzS+YJtJsH88eDbRgTOtFHACchY1G3zSGyhQNIYqdKt35OP//41vYDs3P6JDgd/OFXF+rTFRvwmt+Btu2GZXPuFNI1naPaTTrWMsZ8msw3i51sXgpP1KIEssye6DYulOm5YwsYhmyyitjAORtbfWXYCrfjA7Fm5ZqtbR97r/+8r3iyZk4cZCakKPN6SAO1erpAATrvjDKFvgBhH67eAa1Qf1Uki4Cp2rwaDDdP9BEgldwlw/Lrsy29unybK94LWGZF0EGZfdvoFg678ujCumYvAJM3jOxRPJqj0vedcyfOs6KDQ9qfX3TwRhsqDy6AqlMzdQ6kyqlo75JaY1U/2iRPZe2dfOzUy2I6eLvUe/YzwPrbttlv/iqFHgQA0F2bbCwKSX8JmRIz5fmLFBlt8G0wdq+8dgKUZfFzb0nbtPGzEcCOOlVhCUxrTtLrH/w8og5O17NoiUuwaHCQSmSig/Xc8698+Ljla2nSNhN+Mm90PdYiadyHfy6+rOit7uaVN9MWCAkUEeicLRL2Rj5IOj5ItDNmDEWneLmNOQH1PB5154UBejCy868g=
